*{
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
}
body {
  margin: auto;
  width: 700px; 
  padding: 10px;
  background-color: rgb(24, 31, 41);
  color:white;
}

h1{
  line-height: 50px;
  font-family: 'Orelega One';
  font-size: 70px;
  text-align: center;
  color:white;
}

h2{
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    color:white;
  } 

h3{
  font-family: 'Orelega One';
    font-size: 55px;
    text-align: center;
}